[flake8]
ignore =
  # incompatible with black
  E203
  # Too many leading '#' for block comment
  E266,
  # Line too long
  E501,
  # Line break occurred before a binary operator
  W503,
  # Spelling error in comments
  SC100,
  # Spelling error in name (e.g. variable, function, class)
  SC200
max-line-length = 88
max-complexity = 18
exclude = */migrations/*,venv/*,scripts/*
per-file-ignores =
  */settings/*:F403,F405
