#############################
# BASE REQUIREMENTS
#############################

django
django-environ
django-extensions
dj-database-url
django-cors-headers
django-anymail
djangorestframework
# https://github.com/jazzband/djangorestframework-simplejwt/issues/449
djangorestframework-simplejwt==4.8.*
djoser
drf-yasg

psycopg2
whitenoise

#############################
# DEV REQUIREMENTS
#############################

pip-tools
black
isort
mypy
pyupgrade
ipython
pywatchman
rich

pytest
pytest-cov
pytest-django
pytest-instafail
pytest-randomly
pytest-timeout
pytest-freezegun
pytest-socket
factory-boy
nplusone

# add flake8 plugins to additional_dependencies in pre-commit hook
flake8
flake8-broken-line
flake8-bugbear
flake8-builtins
flake8-comprehensions
flake8-print
flake8-pytest-style
flake8-return
flake8-spellcheck
flake8-tuple
pep8-naming

#############################
# PROD REQUIREMENTS
#############################

gunicorn
rollbar
sentry-sdk
newrelic
