body {
  background-color: #f3f3f3;
}

table.table td,
table.table th {
  vertical-align: middle;
}

.ellipsis-dropdown-toggle {
  background-color: transparent;
  border-color: transparent;
}

/* https://github.com/twbs/bootstrap/issues/23454 */
.invalid-feedback {
  display: block;
}

.card {
  /* copied from bootstrap "shadow" class: https://getbootstrap.com/docs/4.5/utilities/shadows/ */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
