pip-tools
black
mypy
ipython

psycopg2
# celery
# watchdog[watchmedo]
whitenoise
nplusone

django
django-extensions
dj-database-url
# django-celery-results
# django-celery-beat
django-cors-headers
django-anymail
django-silk
djangorestframework
djangorestframework-simplejwt
djoser
drf-yasg

pytest
pytest-django
pytest-randomly
pytest-timeout
pytest-freezegun
factory-boy

gunicorn

flake8
flake8-broken-line
flake8-bugbear
flake8-builtins
flake8-comprehensions
flake8-print
flake8-pytest-style
flake8-spellcheck
flake8-tuple
pep8-naming
