pip-tools
black
mypy
pylint
pre-commit

psycopg2
celery
watchdog[watchmedo]
whitenoise

django
django-extensions
django-celery-results
django-celery-beat
dj-database-url
djangorestframework

pytest
pytest-django
factory-boy
freezegun

gunicorn
