pip-tools
black
mypy
pre-commit
ipython

psycopg2
# celery
# watchdog[watchmedo]
whitenoise

django
django-extensions
dj-database-url
# django-celery-results
# django-celery-beat
django-cors-headers
django-anymail
djangorestframework
djangorestframework-simplejwt
djoser
drf-yasg

pytest
pytest-django
pytest-randomly
pytest-timeout
pytest-freezegun
factory-boy

gunicorn
